body {
    margin: 0;
    padding: 0;
    
}
.background {
    position: fixed;
    inset: 0;
    background: linear-gradient(120deg, #0b0f15, #05090b, #040a0e);
    background-size: 300% 300%;
    animation: fade 10s ease infinite;
    overflow: hidden;
    z-index: -1;
}
@keyframes fade {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.bubbles {
    position: absolute;
    bottom: -10vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-end;
}
.bubbles span {
    position: relative;
    width: 5px;      
    height: 3px;     
    background: rgba(66, 92, 109, 0.6);
    margin: 5px;
    border-radius: 50%;
    box-shadow:
        0 0 10px rgba(208, 211, 212, 0.8),
        0 0 10px rgba(209, 213, 214, 0.8);
    animation: bubbleMove 25s linear infinite;
    animation-duration: calc(130s / var(--i));
}
.bubbles span:nth-child(even) {
    background:rgba(66, 92, 109, 0.6);
    box-shadow:
        0 0 10px #cdd0d1,
        0 0 10px #a5adaf;
}
@keyframes bubbleMove {
    0% { transform: translateY(100vh) scale(0); opacity: 0; }
    100% { transform: translateY(-120vh) scale(1); opacity: 1; }
}


.title{
    text-align:center;
    color:#a5adaf;
    text-shadow: 0 0 5px #0a9bd9;
    font-size: 50px;
    padding:20px;
   
}
.events {
  
    width:80%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap:90px;
    flex-wrap: wrap;
     padding:70px;
}
.flag{
    position: relative;
    display: inline-block;
}
.flag img{
    width:250px;
    height:250px;
    border-radius: 7px;
    box-shadow: #0c89a1 0px 0px 30px;
   
}
.name{
    position:absolute;
    width:100%;
    top:100px;
    left:0;
    font-size:17px;
    font-family: 'Courier New', Courier, monospace;
    color: #cdd0d1;
    font-weight: bolder;
    text-align: center;
    background: rgba(187, 230, 16, 0.05);  
    padding: 10px 0px;

}
.desc{
    position:absolute;
    width:100%;
    height:100%;
    left:0;top:0;
   background: rgba(149, 131, 131, 0.05);   
    backdrop-filter: blur(10px);             
    -webkit-backdrop-filter: blur(10px);
    border-radius:7px;
    border:#097085;
    box-shadow: #0a6368 0px 0px 10px;
    display:flex;
    align-items: center;
    justify-content: center;
    opacity:0;
    visibility: hidden;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding:20px;
    color:#cdd0d1;
    flex-direction: column;
    text-align: justify;
    transition: opacity 0.4s ease;

}
.flag:hover img, .flag:hover .name{
    opacity:0;
    visibility:hidden;
      transition: opacity 0.4s ease;
}
.flag:hover .desc{
     cursor:pointer;
    opacity:1;
    visibility:visible;
}
button {
     box-shadow: #07878c 0px 0px 10px;
     border-radius:7px;
     padding:10px;
    border-color: #09627b;
    border-width: 1px;
    border-style: solid;
   
}
button:hover{
      
      transform: scale(1.07);
      transition: 0.2s;

}
button a{
    text-decoration: none;
    color:black;
    text-shadow: #ffb703 0px 0px 2px;
}