body {
    margin: 0;
    padding: 0;
    
}
.background {
    position: fixed;
    inset: 0;
    background: linear-gradient(120deg, #052b52, #010c15, #04274a);
    background-size: 300% 300%;
    animation: fade 10s ease infinite;
    overflow: hidden;
    z-index: -1;
}
@keyframes fade {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.bubbles {
    position: absolute;
    bottom: -10vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-end;
}
.bubbles span {
    position: relative;
    width: 5px;      
    height: 3px;     
    background: rgba(66, 92, 109, 0.6);
    margin: 5px;
    border-radius: 50%;
    box-shadow:
        0 0 10px rgba(208, 211, 212, 0.8),
        0 0 10px rgba(209, 213, 214, 0.8);
    animation: bubbleMove 25s linear infinite;
    animation-duration: calc(130s / var(--i));
}
.bubbles span:nth-child(even) {
    background:rgba(66, 92, 109, 0.6);
    box-shadow:
        0 0 10px #cdd0d1,
        0 0 10px #a5adaf;
}
@keyframes bubbleMove {
    0% { transform: translateY(100vh) scale(0); opacity: 0; }
    100% { transform: translateY(-120vh) scale(1); opacity: 1; }
}
.navigation
{   margin-left:20%;
    color: azure;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    
}
.navigation li{
    display:inline-block;
    padding:30px;
    padding-top:20px;

}
.navigation button{
    padding : 7px;
    width: 10%;
    border-radius: 7px;
    margin-left:35px;
    background-color:  #5d90bb;
    font-size: 17px;
}
.navigation li:hover{
    color: #bb9d4f;
    cursor:pointer;
    transform: scale(1.1);

}
.navigation a:hover{
    
    color: #bb9d4f;
}
.navigation button:hover{
    transform:scale(1.1);
    cursor: pointer;
    background-color: #a3a8ab;
   

}.navigation a{
    text-decoration: none;
    color:white;
}
.cit h1{
    text-align:center;
    color:white;  
    letter-spacing:2px;
    text-shadow: 0 0 5px #ffb703;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;

}
.cit h2{
    text-align:center;
    color:white;
    letter-spacing:2px;
     font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px #ffb703;
}
h2
{   padding-top: 30px;
    text-align: center;
    color: #cdd0d1;
    font:bold;
    font-family:'Courier New', Courier, monospace;
}
.timer-container{
   
    text-align: center;
    justify-content: center;
    display:flex;
    color:white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:50px;
}
.timer{
    margin-top:50px;
    display:flex;
    column-gap: 50px;
}
.time-box{
    border-radius: 7px;
    border-color: #bb9d4f;
    border-width: 1px;
    border-style: solid;
    padding:20px;
    box-shadow: #bb9d4f 0.001px 1px 10px ; 
   
}
.time-box:hover{
    transform:scale(1.1);
    transition:0.5s;

}
.about_cit #one img{
width:470px;
height:470px;
 border-radius: 7px;
    border-color: #bb9d4f;
    border-width: 1px;
    border-style: solid;
  
    box-shadow: #bb9d4f 0.001px 1px 10px ; 

}
#two p{
    font-size:large;
    text-align:justify;
   

}
h2{color:white;
    padding-top:0px;
}
.about_cit{
    display:flex;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    column-gap: 50px;
    font-family:'Courier New', Courier, monospace;
    color:white
}
#two button{
   border-radius: 7px;
    border-color: #bb9d4f;
    border-width: 1px;
    border-style: solid;
    padding:10px;
    box-shadow: #bb9d4f 0.001px 1px 10px ; 
}

#two button:hover{
    transform:scale(1.1);
}
h1{   text-shadow: 0 0 5px #9ec512;
    color:white;
    font-size: 25px;
    text-align: center;
}.thanks p{padding:10px;
color: #a3a8ab;}
.thanks h3{
    text-align: center;
    color: #a3a8ab;
}
.thanks {
    margin:2%;
    align-items: center;
    justify-items: center;
}
#up{
     border-radius: 7px;
    border-color: #bb9d4f;
    border-width: 1px;
    width:300px;
    border-style: solid;
     box-shadow: #bb9d4f 0.001px 1px 10px;
}
#up:hover{
     transform: scale(1.2);
     transition: 0.5s;

}
#middle:hover{ transform: scale(1.1);transition:0.5s;
}
#middle{
    margin-top:10px;
   margin-right: 20px;
     border-radius: 7px;
    border-color: #bb9d4f;
    border-width: 1px;
    border-style: solid;
    width:300px;
    display: inline-block;
     box-shadow: #bb9d4f 0.001px 1px 10px;
    
}


