
body {
    margin-top: 20px;
    padding-top: 0px;
    
}
.background {
    position: fixed;
    inset: 0;
    background: linear-gradient(120deg, #030303, #010c15, #030303);
    background-size: 300% 300%;
    animation: fade 10s ease infinite;
    overflow: hidden;
    z-index: -1;
   
}
@keyframes fade {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.bubbles {
    position: absolute;
    bottom: -10vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-end;
}
.bubbles span {
    position: relative;
    width: 5px;      
    height: 3px;     
    background: rgba(66, 92, 109, 0.6);
    margin: 5px;
    border-radius: 50%;
    box-shadow:
        0 0 10px rgba(208, 211, 212, 0.8),
        0 0 10px rgba(209, 213, 214, 0.8);
    animation: bubbleMove 25s linear infinite;
    animation-duration: calc(130s / var(--i));
}
.bubbles span:nth-child(even) {
    background:rgba(66, 92, 109, 0.6);
    box-shadow:
        0 0 10px #cdd0d1,
        0 0 10px #a5adaf;
}
@keyframes bubbleMove {
    0% { transform: translateY(100vh) scale(0); opacity: 0; }
    100% { transform: translateY(-120vh) scale(1); opacity: 1; }
}
.navigation
{   padding-left:20%;
    align-items: center;
    justify-content: center;
    color: azure;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
  background: rgba(149, 131, 131, 0.05);   
    backdrop-filter: blur(10px);             
    -webkit-backdrop-filter: blur(10px);
   
}
.navigation li{
    display:inline-block;
    padding:30px;
    padding-top:20px;

}
.navigation button{
    font-size: 17px;
     border-radius: 7px;
    border-color: #1d9dc0;
    border-width: 1px;
    border-style: solid;
    padding:10px 15px;
    box-shadow:#1d9dc0 0.001px 1px 10px ; 
}
.navigation li:hover{
    color: #1d9dcf;
    cursor:pointer;
    transform: scale(1.1);

}
.navigation a:hover{
    
    color: #1d9dc0;
}
.navigation button:hover{
    transform:scale(1.1);
    cursor: pointer;
    background-color: #a3a8ab;
   

}.navigation a{
    text-decoration: none;
    color:white;
}

.cit h1{
    text-align:center;
    color:white;  
    letter-spacing:2px;
    text-shadow: 0 0 5px #1d9dc0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;

}
.cit h2{
    text-align:center;
    color:white;
    letter-spacing:2px;
     font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 5px #1d9dc0;
}
.cit h1,
.cit h2 {
    animation: 
        textfade 2s ease-in-out forwards,  
        fading 3s infinite 3s;              
}


@keyframes textfade {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fading {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}


.heading 
{   padding-top:10px;
    text-align: center;
    color: #e2ebee;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}
.prizepool h2{
    font-size: 35px;
    text-align: center;
    color: #e4ebee;
    font-family:'Courier New', Courier, monospace;

}

.prizepool{
    margin-top:50px;
    height:200px;
    align-items: center; 
    justify-content: center;
    display: flex;
    gap:10px;
}

.prizebox
{   border-radius: 15px;  
    height:200px;
    width:300px;
    background: rgba(255,255,255,0.03);
    gap: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    align-items: center;
    box-shadow: #1d9dc0 0px 0px 15px;
    justify-content: center;
}
#prizeValue{
    font-size: 50px;
    text-shadow:#1d9dc0 0 0 3px;
}

.timer-container{
   
    text-align: center;
    justify-content: center;
    display:flex;
    color:white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom:50px;
}
.timer{
    margin-top:25px;
    display:flex;
    column-gap: 50px;
}
.time-box span{
    font-size: 30px;
}
.time-box p{
 font-size:10px;
 letter-spacing: 2px;
}
.time-box{
    background: rgba(149, 131, 131, 0.05);   
    backdrop-filter: blur(10px);             
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;                  
    border:  #1d9dc0;
    transition: ease-in-out 0.3s;
    padding: 10px 20px;
    box-shadow: #1d9dc0 0.001px 1px 10px; 
    color: white;
    text-align: center;
    
}

.time-box:hover{
    transform: scale(1.05);
    transition: 0.5s;
}


.about_cit #one img{
width:550px;
height:470px;
 border-radius: 7px;
    border-color: #1d9dc0;
    border-width: 1px;
    border-style: solid;
  
    box-shadow:#1d9dc0 0.001px 1px 10px ; 

}
#two p{
    font-size:large;
    text-align:justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    
}
.prizepool h2{color:white;
    padding-top:0px;
}

.about_cit{
    display:flex;
    margin-left:5%;
    margin-right:5%;
    margin-top:3%;
    column-gap: 50px;
    font-family:'Courier New', Courier, monospace;
    color:white;
    align-items: center;
    justify-content: center;
    
    
}
#two button{
   border-radius: 7px;
    border-color: #1d9dc0;
    border-width: 1px;
    border-style: solid;
    padding:10px;
    box-shadow: #1d9dc0 0.001px 1px 10px ; 
}

#two button:hover{
    transform:scale(1.1);
}
.photo{
    display:flex;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    column-gap: 50px;
    font-family:'Courier New', Courier, monospace;
    color:white;
    
    
}
.ph h2{
    font-size: 70px;
    color:white;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    text-align:center;
      text-shadow: 0 0 5px #1d9dc0;
      
}
.photo img{
 

  width:550px;
height:470px;
 border-radius: 7px;
    border-color: #1d9dc0;
    border-width: 1px;
    border-style: solid;
  
    box-shadow:#1d9dc0 0.001px 1px 10px ; 
    object-fit: cover;
    transition: opacity 0.5s ease;
}
#elec25 p{
    font-size:large;
    text-align:justify;
     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 1.5px;
    font-size: 20px;
    
}.stat-card{
    width: 260px;
    height: 70px;
    background: rgba(255,255,255,0.03);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.icon-box{
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 1px solid rgba(160, 165, 12, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,100,150,0.1);
}

.icon-box i{
    font-size: 28px;
    color: #1d9dc0;
}

.right{
    display: flex;
    flex-direction: column;
}

.right .label{
    font-size: 12px;
    letter-spacing: 2px;
    color: #9da3ab;
}

.right .value{
    font-size: 32px;
    color: #ffffff;
    font-weight: 600;
}

.statistics{
    margin-top:50px;
    height:200px;
    background: rgba(255,255,255,0.03);
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-items: center; 
    justify-content: center;
    display: flex;
    gap:10px;
}
h1{   text-shadow: 0 0 5px #1d9dc0;
    color:white;
    font-size: 25px;
    text-align: center;
}

.thanks {
   
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
}


.title , .end{
    display: block;
    text-align: center;
    color: #a3a8ab;
    font-size: 20px;
    margin: 10px 0;
}

.middle {
    width: 290px;
    border-radius: 7px;
    border: 1px solid #1d9dc0;
    box-shadow: #1d9dc0 0px 1px 10px;
    text-align: center;
    
}


.middle:hover {
    transform: scale(1.07);
    transition: 0.5s;
}

.thanks h3 {
    color: #a3a8ab;
}
