body {
    margin: 0;
    padding: 0;
    
}
.background {
    position: fixed;
    inset: 0;
    background: linear-gradient(120deg, #090a0a, #010c15, #030303);
    background-size: 300% 300%;
    animation: fade 10s ease infinite;
    overflow: hidden;
    z-index: -1;
}
@keyframes fade {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.bubbles {
    position: absolute;
    bottom: -10vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-end;
}
.bubbles span {
    position: relative;
    width: 5px;      
    height: 3px;     
    background: rgba(66, 92, 109, 0.6);
    margin: 5px;
    border-radius: 50%;
    box-shadow:
        0 0 10px rgba(208, 211, 212, 0.8),
        0 0 10px rgba(209, 213, 214, 0.8);
    animation: bubbleMove 25s linear infinite;
    animation-duration: calc(130s / var(--i));
}
.bubbles span:nth-child(even) {
    background:rgba(66, 92, 109, 0.6);
    box-shadow:
        0 0 10px #cdd0d1,
        0 0 10px #a5adaf;
}
@keyframes bubbleMove {
    0% { transform: translateY(100vh) scale(0); opacity: 0; }
    100% { transform: translateY(-120vh) scale(1); opacity: 1; }
}
.center-type {
    font-size: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 0 0 25px #197592;

    white-space: nowrap;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}


.right {
    display: inline-block;
    overflow: hidden;
    width: 0;
    animation: rightType steps(30) forwards 1s; 
}


@keyframes rightType {
    from { width: 0; }
    to { width: 900px; }
}

.title{
    text-align:center;
    color:#a5adaf;
    text-shadow: 0 0 5px #197592;
    font-size: 20px;
   
}
.secretary {
    width:80%;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:50px;
    padding:20px;
    flex-wrap: wrap;
    margin: 0 auto;

}

.sec-card img {
    width:240px;
    height:280px;
    border-radius:7px;
    box-shadow: #197592 0px 0px 20px;
  
}
.sec-card{
 position:relative;
 display: inline-block;
 transition:ease-in-out 0.5s;
 
}
.name{
    position:absolute;
    bottom:10px;
   left:0;
   width:100%;
   text-align: center;
    background: rgba(0,0,0,0.5);
    padding:5px 0px;
    color:azure;
    font-size:17px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    animation:popin 1s ease forwards;
    transform-origin: center;
    opacity:0;

}
.sec-card:hover{
   transform: scale(1.07);
   transition:0.7s;
}

@keyframes popin
{
    0%{transform:scale(0);
    opacity:0;}
    
    100%{transform:scale(1);
    opacity:1;}
}
