body {
    margin: 0;
    padding: 0;
    
}
.background {
    position: fixed;
    inset: 0;
    background: linear-gradient(120deg, #0b0f15, #05090b, #040a0e);
    background-size: 300% 300%;
    animation: fade 10s ease infinite;
    overflow: hidden;
    z-index: -1;
}
@keyframes fade {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.bubbles {
    position: absolute;
    bottom: -10vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly; 
    align-items: flex-end;
}
.bubbles span {
    position: relative;
    width: 5px;      
    height: 3px;     
    background: rgba(66, 92, 109, 0.6);
    margin: 5px;
    border-radius: 50%;
    box-shadow:
        0 0 10px rgba(208, 211, 212, 0.8),
        0 0 10px rgba(209, 213, 214, 0.8);
    animation: bubbleMove 25s linear infinite;
    animation-duration: calc(130s / var(--i));
}
.bubbles span:nth-child(even) {
    background:rgba(66, 92, 109, 0.6);
    box-shadow:
        0 0 10px #cdd0d1,
        0 0 10px #a5adaf;
}
@keyframes bubbleMove {
    0% { transform: translateY(100vh) scale(0); opacity: 0; }
    100% { transform: translateY(-120vh) scale(1); opacity: 1; }
}
.title{
    text-align:center;
    color:#a5adaf;
    text-shadow: 0 0 5px #0f97bc;
    font-size: 50px; 
    animation: popin 1s  ease forwards;
    
}
@keyframes popin
{
    0%{transform:scale(0);
    opacity:0;}
    
    100%{transform:scale(1);
    opacity:1;}
}
.container{
    width:70%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding:30px;
    flex-wrap: wrap;
    column-gap:120px;
    row-gap:100px;
    animation: translate 1s ease-out forwards;
    
}
@keyframes translate{
    0%{opacity: 0;
        transform: translateY(50px);
    }
    100%{opacity:1;
  transform: translateY(0px);
    }
}
.one{
    border:#0a8dae 0.5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #0c9ebb 0px 0px 10px;
    padding:0px 0px 12px;
    border-radius: 7px;
   
}
.one:hover{
    transform: translateY(-10px);
    transition:0.3s;
     box-shadow: #0c9ebb 0px 0px 50px;
}
button:hover{
   transform:scale(1.07);
   box-shadow: #0c9ebb 0px 0px 70px;
}
.container img{
    height:270px;
    width:330px;
    border-radius:7px 7px 0px 0px;
    
}
h1{
     text-align:center;
    color:#a5adaf;
    text-shadow: 0 0 5px #0c9ebb;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    
}

button{

     box-shadow: #07878c 0px 0px 17px;
     border-radius:7px;
     padding:10px 15px;
    border-color: #09627b;
    border-width: 1px;
    border-style: solid;
    color: #096782;
}